<div class="row">
  <div class="wide column">
    <div class="header ui">
    <i class="disabled browser icon"></i>
      <div class="content">
         Issues: <span>
            <a href="#" class="section">area</a>
            <span class="divider">/</span>
            <a href="/incidentes/create/?area=osas&description=problemas+Con+curado+canal+4&shift=4&responsible=Aldo+Mendez" class="section">linea</a>
          </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
{{#unless editing}}
  <div class="wide column ">
    <h3 class="ui top attached header">Incidentes</h3>
    <div class="ui relaxed celled list attached segment">
      
      {{#if destroyed}}
        <div class="item" href="#!show/incidentes/{{id}}">
          <i class="red circle help icon"></i>
          <div class="content">
            <div class="header">{{destroyed.previous.description}}</div>
            <div class="description">Incident Closed:  #{{destroyed.previous.id}} abierto {{destroyed.previous.createdAt}} por {{destroyed.previous.responsible}}</div>
          </div>
        </div>
      {{/if destroyed}}

      {{#each incident}}
      <div class="item">
        <i class=" help icon"></i>
        <div class="content">
          <div class="header"><a href="/incidentes/destroy/{{id}}">{{description}}</a></div>
          <div class="description">#{{id}} abierto {{createdAt}} por {{responsible}}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
{{/unless}}
{{#if editing}}
  <div class="wide column">
    {{#with newComment}}
    <div class="ui small form segment">
      <div class="field required "><label for="">Titulo {{title}}</label><input type="text" value="{{title}}"></div>
      <div class="two fields ">
        <div class="field">
          <label for="">Comentario</label><textarea name="" id="" cols="30" rows="10" value="{{comment}}"></textarea>
        </div>
        <div class="field"><label for="">Resultado</label>
          {{{marked(comment)}}}
        </div>
      </div>
      <div class="ui submit button">Enviar nuevo incidente</div>
    </div>
    {{/with}}
  </div>
{{/if}}

</div>