<div class="row">
  <div class="wide column">
    <div class="header ui">
    <i class="disabled browser icon"></i>
      <div class="content">
         Issues: <span>
            <a href="#" class="section">area</a>
            <span class="divider">/</span>
            <a href="#" class="section">linea</a>
          </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="wide column ">
    <div class="ui relaxed celled selection list">
      
      {{#if destroyed}}
        <a class="item" href="#!show/incidente/{{id}}">
          <i class="red circle help icon"></i>
          <div class="content">
            <div class="header">{{destroyed.previous.description}}</div>
            <div class="description">Incident Closed:  #{{destroyed.previous.id}} abierto {{destroyed.previous.createdAt}} por {{destroyed.previous.responsible}}</div>
          </div>
        </a>
      {{/if destroyed}}

      {{#each incident}}
      <a class="item" href="#!show/incidente/{{id}}">
        <i class=" help icon"></i>
        <div class="content">
          <div class="header">{{description}}</div>
          <div class="description">#{{id}} abierto {{createdAt}} por {{responsible}}</div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <!-- <div class="five wide column ui segment"></div> -->
</div>
<!-- 
area: "osas"
clasification: "wip"
createdAt: "2015-01-28T03:06:58.903Z"
description: "No tenemos osas gen3"
id: 1
responsible: "unspecified"
shift: "2"
updatedAt: "2015-01-28T03:06:58.903Z"
 -->